---
- name: Report with Ansible
  hosts: web
  gather_facts: true
  tasks:
  - name: build report
    ansible.builtin.copy:
      content: |
        # Server Configuration Reports: {{ inventory_hostname }}
        ---
        | name | value  |
        | ---- | ------ |
        {% for key, value in ansible_default_ipv4.items() %}
        | {{ key }} | {{ value }} |
        {% endfor %}
      dest: setting_report_{{ inventory_hostname }}.md
    delegate_to: localhost

  - name: concatenate reports
    ansible.builtin.assemble:
      src: ./
      regexp: '^setting\_report\_node*'
      dest: ./setting_report.md
      delimiter: "\n"
    run_once: true
    delegate_to: localhost
